/* CSS declarations go here */

body {
  padding-top: 5em;
}

#login-buttons {
  float:right;
}

#login-buttons #login-dropdown-list {
  left: auto;
  right: -1px;
}

#login-buttons .login-close-text {
  float: right;
}
